[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
waitress = "*"

[packages]
gunicorn = "*"
gevent = "*"
flask = "*"
flask-cors = "*"
Werkzeug = "*"
SQLAlchemy = "*"
psycopg2 = "*"
alembic = "*"
marshmallow = "*"
marshmallow_dataclass = "*"
marshmallow_enum = "*"
requests = "*"
celery = "*"
redis = "*"
authlib = "*"
setproctitle = "*"
opencensus-ext-azure = "*"

[requires]
python_version = "3.7"

[scripts]
migrate = "alembic upgrade head"
revision = "alembic revision --autogenerate"
develop = "python -m waitress --port=8081 originexample:app"
production = "gunicorn -b 0.0.0.0:8081 originexample:app --workers 3 --worker-class gevent --worker-connections 10 --name ExampleBackend --access-logfile /dev/stdout --error-logfile /dev/stderr"
worker = "celery worker -A originexample.pipelines -O fair -l info --pool=gevent --concurrency=10"
beat = "celery beat -A originexample.pipelines -l info"
